body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
.mobile-screen{
  display: none;
}


#btnMobile {
  margin: 15px;
  padding: 30px;
  border-radius: 10%;
  border: 5px solid rgb(241, 255, 118);
  background-color: rgb(147, 243, 128);
  font-size: 20px;
  font-weight: bold;
  visibility: hidden;
}

@media only screen and (max-width: 800px){
  .container {
    width: 100%;
    margin: auto;
  }
  #btnMobile{
    visibility: visible;
  }
 .bg-screen{
   display: none;
 }
 .mobile-screen{
   display: block;
 }

}